@import url('https://fonts.cdnfonts.com/css/harry-potter');

@font-face {
  font-family: 'Harry Potter';
  src: url('/assets/fonts/harry-potter.woff2') format('woff2'),
       url('/assets/fonts/harry-potter.woff') format('woff');
}

$body-font: 'Harry Potter', sans-serif;
$headers-font: 'Harry Potter', sans-serif;
