// Specific CSS for your home-page
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
body{
  h1, h2, h3, h4, h5, h6{
    font-family: 'Harry Potter', sans-serif;
    padding-top: 0.5rem;
  }
  background-color: lightgray;
  font-family: 'Roboto Slab', serif;
  background-image: url(/assets/harry-potter.webp);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  background-repeat: no-repeat;
}

.logo{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: rgb(255,198,24);
    font-size: 45px;
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(/assets/harry-potter2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;
    height: 100%;
    animation: shiftSideBackground 12s ease-in-out infinite;
  }
}

@keyframes shiftSideBackground {
  0% {
    background-position: right; /* Initial background-position */
  }
  50% {
    background-position: left; /* Right position */
  }
  100% {
    background-position: right; /* Back to original position */
  }
}
