<div class="container">
  <div class="logo">
    <h1>HarryPotter</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4 px-0 card">
      <div class="content d-flex align-items-center">
        <div class="players w-50">
          <h6>Players Initials</h6>
        </div>
        <div class="d-flex player-initials w-50">
          <div class="box">
            <input type="text" style="width: 100%;">
          </div>
          <div class="box">
            <input type="text" style="width: 100%;">
          </div>
          <div class="box">
            <input type="text" style="width: 100%;">
          </div>
          <div class="box">
            <input type="text" style="width: 100%;">
          </div>
          <div class="box">
            <input type="text" style="width: 100%;">
          </div>
        </div>
      </div>
      <div class="header px-2 pt-1 d-flex justify-content-between">
        <h5>SUSPECT ❓</h5>
        <h5>--------------------------</h5>
      </div>
      <div class="content d-flex align-items-center">
        <div class="name w-50">
          <p>Fenir Greyback</p>
        </div>
        <div class="d-flex player-box w-50">
          <div class="box">
            <select name="status" id="status">
              <option value="empty"> </option>
              <option value="X">❌</option>
              <option value="tick">✅</option>
              <option value="qestion">❓</option>
            </select>
          </div>
          <div class="box">
            <select name="status" id="status">
              <option value="empty"> </option>
              <option value="X">❌</option>
              <option value="tick">✅</option>
              <option value="qestion">❓</option>
            </select>
          </div>
          <div class="box">
            <select name="status" id="status">
              <option value="empty"> </option>
              <option value="X">❌</option>
              <option value="tick">✅</option>
              <option value="qestion">❓</option>
            </select>
          </div>
          <div class="box">
            <select name="status" id="status">
              <option value="empty"> </option>
              <option value="X">❌</option>
              <option value="tick">✅</option>
              <option value="qestion">❓</option>
            </select>
          </div>
          <div class="box border-end">
            <select name="status" id="status">
              <option value="empty"> </option>
              <option value="X">❌</option>
              <option value="tick">✅</option>
              <option value="qestion">❓</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
